
.body{
	background-image: url("images/banhmy1.jpg");
}
[class*="col"] {
	padding: 1rem;
	background-color: rgba(36, 31, 31, 0.514);
	color: white;
	text-align: center;
}

[class="row"] {
	color: white;
	background-color: black;
}

[class*="con"] {
	
	background-color: black;
	text-align: center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

